/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main: #ff6e01;
  --bg: #f1e1d2;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--main);
  border-radius: 5rem;
}

section{
  padding: 8rem 7%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--main);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

.btn{
  font-size: 1.7rem;
  display: inline-block;
  background: var(--main);
  color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.btn::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #ff9748;
  z-index: -1;
  transition: .3s linear;
  left: 0;
}

.btn:hover::before{
  width: 100%;
}


.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--main);
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--main);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--black);
}

.header .icons div:hover{
  color: var(--main);
}

#menu-btn{
  display: none;
}


.header .login-form{
  position: absolute;
  top: 115%;
  right: -105%;
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  padding: 2rem;
}

.header .login-form.active{
  right: 2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.2rem;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: .7rem;
  text-align: center;
}

.header .login-form .box{
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  margin: .7rem 0;
  color: var(--black);
  width: 100%;
  text-transform: none;
}

.header .login-form .remember{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label{
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .login-form .btn{
  width: 100%;
  text-align: center;
}


.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/home.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  color: var(--white);
  font-size: 6rem;
  line-height: 1.4;
  font-weight: 400;
}

.home .wave{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 12rem;
}


.about .box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.about .deco-title{
  font-size: 10rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.5;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(204,204,204);
  transform-origin: top left;
  transform: rotate(0.25turn);
  position: absolute;
  top: 115%;
  left: 48%;
  z-index: -1;
}

.about .box-container .image{
  flex: 1 1 31rem;
}

.about .box-container .image img{
  width: 100%;
}

.about .content{
  flex: 1 1 41rem;
}

.about .content .title{
  font-size: 4rem;
  color: var(--black);
}

.about .content p{
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons{
  flex: 1 1 16rem;
  text-align: center;
  background: var(--bg);
  padding: 3rem 2rem;
}

.about .content .icons-container .icons .fas{
  height: 5rem;
  font-size: 4rem;
  color: var(--main);
}

.about .content .icons-container .icons h3{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #444;
  font-weight: normal;
}


.gallery{
  background: var(--bg);
}

.gallery .slide .image{
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.gallery .slide .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev{
  color: var(--white);
}


.animal .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 2rem;
}

.animal .box-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.animal .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.animal .box-container .box:hover img{
  transform: scale(1.1);
}

.animal .box-container .box .content{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  padding: 20px;
  z-index: 1;
  transition: 0.5s ease;
}

.animal .box-container .box:hover::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.5;
  transition: 0.5s ease;
}

.animal .box-container .box .content h3{
  text-align: center;
  font-size: 3rem;
  color: var(--white);
}

.animal .box-container .box:is(:hover, :focus-within) .content{
  transform: translateY(-20px);
}


.banner{
  background: url(../images/banner.png) no-repeat;
}

.banner .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.banner .row .content{
  flex:  1 1 39rem;
}

.banner .row .content h3{
  font-size: 2rem;
  color: var(--main);
  text-transform: uppercase;
}

.banner .row .content p{
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
  line-height: 1.8;
}

.banner .row .image{
  flex: 1 1 41rem;
  margin-bottom: -14rem;
}

.banner .row .image img{
  width: 100%;
}


.pricing .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.pricing .box-container .box{
  background: var(--bg);
  padding: 3rem;
  text-align: center;
  border-radius: 79% 51% 81% 19% / 58% 93% 7% 42%;
}

.pricing .box-container .box:hover{
  border-radius: .5rem;
}

.pricing .box-container .box img{
  height: 15.5rem;
  width: 15.5rem;
  margin-bottom: .5rem;
}

.pricing .box-container .box h3{
  font-size: 2.6rem;
  color: var(--black);
  padding: 1rem 0;
}

.pricing .box-container .box .price{
  font-size: 2.2rem;
  color: var(--main);
  padding: .5rem 0;
}

.pricing .box-container .box p{
  font-size: 1.5rem;
  color: var(--black);
  padding: .5rem 0;
}


.contact{
  background: var(--bg);
}

.contact form{
  padding: 2rem 10%;
  text-align: center;
}

.contact form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .inputBox input,
.contact form textarea{
  font-size: 1.7rem;
  width: 49%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: .5rem;
  text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
  text-transform: capitalize;
}


.contact form textarea{
  height: 15rem;
  resize: none;
  width: 100%;
}


.footer{
  background: url(../images/footer.jpg) no-repeat;
  background-size: cover;
  padding: 3rem 7%;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color: var(--main);
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box .links{
  display: block;
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box .links i{
  color: var(--main);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
  padding-right: 2rem;
}

.footer .box-container .box .days{
  margin-left: 2.2rem;
  line-height: .2;
}

.footer .box-container .box .email{
  width: 100%;
  margin: .7rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background: var(--white);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.footer .box-container .box .share a{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  color: var(--black);
  background: var(--white);
  font-size: 1.2rem;
  border-radius: 5rem;
  margin-right: .8rem;
  text-align: center;
  margin-top: 1.4rem;
}

.footer .box-container .box .share a:hover{
  background: var(--main);
}

.footer .credit{
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  padding-top: 2.5rem;
  color: var(--black);
  border-top: .2rem solid rgba(0, 0, 0, 0.2);
}

.footer .credit .link{
  color: var(--main);
}


.zoo * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.zoo .body {
  background: #ff6e01;
}

.zoo .wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  box-shadow: 0 0 10px solid blue;

  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #ff9748;
  background: -webkit-linear-gradient(45deg, #6c5442 0%, #ff6e01 100%);
  background: -o-linear-gradient(45deg, #6c5442 0%, #ff6e01 100%);
  background: linear-gradient(45deg, #6c5442 0%, #ff6e01 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}


.animalInfo .box-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.animalInfo .deco-title {
  font-size: 10rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.5;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(204, 204, 204);
  transform-origin: top left;
  transform: rotate(0.25turn);
  position: absolute;
  top: 115%;
  left: 48%;
  z-index: -1;
}

.animalInfo .box-container .image {
  flex: 1 1 31rem;
}

.animalInfo .box-container .image img {
  width: 100%;
}

.animalInfo .content {
  flex: 1 1 41rem;
}

.animalInfo .content .title {
  font-size: 4rem;
  color: var(--black);
}

.animalInfo .content p {
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.animalInfo .content .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 3rem;
}

.animalInfo .content .icons-container .icons {
  flex: 1 1 16rem;
  text-align: center;
  background: var(--bg);
  padding: 3rem 2rem;
}

.animalInfo .content .icons-container .icons .fas {
  height: 5rem;
  font-size: 4rem;
  color: var(--main);
}

.animalInfo .content .icons-container .icons h3 {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #444;
  font-weight: normal;
}

#animalInfo {
  margin-top: 40px;
}

#animalInfo h2 {
  font-size: 3rem;
  color: var(--black);
}

#animalInfo p {
  font-size: 1.5rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1.5;
}


.payment *{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.payment .container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: #ff9748;
  background: -webkit-linear-gradient(45deg, #6c5442 0%, #ff6e01 100%);
  background: -o-linear-gradient(45deg, #6c5442 0%, #ff6e01 100%);
  background: linear-gradient(45deg, #6c5442 0%, #ff6e01 100%);
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #6c5442;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #ff6e01;
}


@media(max-width: 991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: 2rem;
  }
  section{
    padding: 8rem 2rem;
  }
}

@media (max-width: 768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--white);
    border-top: .1rem solid var(--main);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }

  .home{
    background-position: left;
  }

  .home .content h3{
    font-size: 5rem;
  }

  .deco-title{
    display: none;
  }

}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .home .content h3{
    font-size: 4rem;
  }

} */